nodeRed_flow.json
[{"id":"f3b4e877.63aaf8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"12815789.1f92c8","type":"mqtt in","z":"f3b4e877.63aaf8","name":"node_publish","topic":"room1/light","qos":"2","datatype":"auto","broker":"fb8f01c0.c10c9","x":91,"y":80,"wires":[["8b3adafc.75fb68"]]},{"id":"8b3adafc.75fb68","type":"function","z":"f3b4e877.63aaf8","name":"light_change","func":"var light_state=[\"DARK\",\"BRIGHT\"];\nvar topic=msg.topic;\nvar data;\n//node.log(topic);\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (message==light_state[0]) {\n    data={\"light\":1};\n    msg.payload = data;\n}\nif (message==light_state[1]) {\n       data={\"light\":0};\n       msg.payload = data;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":261,"y":80,"wires":[["87e3e875.f34288","c0f0a0d3.1de3b"]]},{"id":"c0f0a0d3.1de3b","type":"debug","z":"f3b4e877.63aaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":401,"y":140,"wires":[]},{"id":"d852ce74.36642","type":"mqtt out","z":"f3b4e877.63aaf8","name":"aws_publish","topic":"room1/light","qos":"","retain":"","broker":"b10a72b0.fc2a6","x":601,"y":80,"wires":[]},{"id":"1605318b.30d35e","type":"debug","z":"f3b4e877.63aaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":621,"y":140,"wires":[]},{"id":"87e3e875.f34288","type":"json","z":"f3b4e877.63aaf8","name":"","property":"payload","action":"","pretty":false,"x":441,"y":80,"wires":[["1605318b.30d35e","d852ce74.36642"]]},{"id":"76d9e3ea.c7bbfc","type":"mqtt in","z":"f3b4e877.63aaf8","name":"aws_sub_led","topic":"room1/lamp","qos":"1","datatype":"auto","broker":"b10a72b0.fc2a6","x":87,"y":220,"wires":[["18957a88.8001a5","3d3c946e.203f9c"]]},{"id":"18957a88.8001a5","type":"debug","z":"f3b4e877.63aaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":281,"y":280,"wires":[]},{"id":"3d3c946e.203f9c","type":"json","z":"f3b4e877.63aaf8","name":"","property":"payload","action":"","pretty":false,"x":237,"y":220,"wires":[["7ddbffd5.1ccc8"]]},{"id":"7ddbffd5.1ccc8","type":"function","z":"f3b4e877.63aaf8","name":"led_switch_toggle","func":"//var data=msg.payload.light;\n//var topic=msg.topic;\n\nif(msg.payload.light == 1)\n{\n    node.log(msg.payload.light);\n    msg.payload = 1;\n}\nif(msg.payload.light == 0)\n{\n    node.log(msg.payload.light);\n    msg.payload = 0;\n}\n//msg.payload=data;\n//msg.topic=topic;\n//node.log(topic);\n//var res=data.split(\":\");\n//var l=res.length;\n//var message=msg.payload.toUpperCase()\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":401,"y":220,"wires":[["bce593d5.13195","b8409421.2bac88"]]},{"id":"b8409421.2bac88","type":"debug","z":"f3b4e877.63aaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":581,"y":280,"wires":[]},{"id":"bce593d5.13195","type":"mqtt out","z":"f3b4e877.63aaf8","name":"node_light_on","topic":"room1/lamp","qos":"","retain":"","broker":"fb8f01c0.c10c9","x":607,"y":220,"wires":[]},{"id":"18ec5168.c8013f","type":"mqtt in","z":"f3b4e877.63aaf8","name":"room2_temp","topic":"room2/temp","qos":"2","datatype":"auto","broker":"fb8f01c0.c10c9","x":90,"y":352,"wires":[["dc6b9912.f2fce8"]]},{"id":"4e81830.092ff7c","type":"debug","z":"f3b4e877.63aaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":412,"wires":[]},{"id":"36703c7a.957c14","type":"mqtt in","z":"f3b4e877.63aaf8","name":"room2_humidity","topic":"room2/humidity","qos":"2","datatype":"auto","broker":"fb8f01c0.c10c9","x":100,"y":412,"wires":[["4e81830.092ff7c"]]},{"id":"dc6b9912.f2fce8","type":"function","z":"f3b4e877.63aaf8","name":"temp_change","func":"var data;\ndata={\"temp\":msg.payload};\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":352,"wires":[["8927ad0f.d2068"]]},{"id":"8927ad0f.d2068","type":"json","z":"f3b4e877.63aaf8","name":"","property":"payload","action":"","pretty":false,"x":430,"y":352,"wires":[["9686d84d.79b288"]]},{"id":"9686d84d.79b288","type":"mqtt out","z":"f3b4e877.63aaf8","name":"aws_publish_temp","topic":"room2/temp","qos":"","retain":"","broker":"b10a72b0.fc2a6","x":610,"y":352,"wires":[]},{"id":"f90a34af.94b148","type":"mqtt in","z":"f3b4e877.63aaf8","name":"aws_sub_buzzer","topic":"room2/buzzer","qos":"1","datatype":"auto","broker":"b10a72b0.fc2a6","x":100,"y":492,"wires":[["628d70af.3d066","8db2b683.3ea4f8"]]},{"id":"628d70af.3d066","type":"json","z":"f3b4e877.63aaf8","name":"","property":"payload","action":"","pretty":false,"x":270,"y":492,"wires":[["fe2854fb.a95058"]]},{"id":"fe2854fb.a95058","type":"function","z":"f3b4e877.63aaf8","name":"buzzer_toggle","func":"if(msg.payload.temp > 0)\n{\n    node.log(msg.payload.temp);\n    msg.payload = 'on';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":492,"wires":[["44536cc1.591e34"]]},{"id":"44536cc1.591e34","type":"mqtt out","z":"f3b4e877.63aaf8","name":"node_buzzer_on","topic":"room2/buzzer","qos":"","retain":"","broker":"fb8f01c0.c10c9","x":630,"y":492,"wires":[]},{"id":"8db2b683.3ea4f8","type":"debug","z":"f3b4e877.63aaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":572,"wires":[]},{"id":"f55f8dd9.931d2","type":"mqtt in","z":"f3b4e877.63aaf8","name":"door_pir","topic":"door/pir","qos":"2","datatype":"auto","broker":"fb8f01c0.c10c9","x":80,"y":637,"wires":[["a51ab6d9.78d9d8"]]},{"id":"a51ab6d9.78d9d8","type":"function","z":"f3b4e877.63aaf8","name":"pir_change","func":"var data;\ndata={\"pir\":msg.payload};\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":637,"wires":[["eb385be7.931a68"]]},{"id":"eb385be7.931a68","type":"json","z":"f3b4e877.63aaf8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":637,"wires":[["d5dfdb53.604e28","79abadcc.45a944"]]},{"id":"d5dfdb53.604e28","type":"mqtt out","z":"f3b4e877.63aaf8","name":"aws_publish_pir","topic":"door/pir","qos":"","retain":"","broker":"b10a72b0.fc2a6","x":620,"y":637,"wires":[]},{"id":"79abadcc.45a944","type":"debug","z":"f3b4e877.63aaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":697,"wires":[]},{"id":"5652ce7d.b576b","type":"mqtt in","z":"f3b4e877.63aaf8","name":"door_led","topic":"door/lamp","qos":"1","datatype":"auto","broker":"b10a72b0.fc2a6","x":80,"y":777,"wires":[["cde2be96.307b3"]]},{"id":"cde2be96.307b3","type":"json","z":"f3b4e877.63aaf8","name":"","property":"payload","action":"","pretty":false,"x":250,"y":777,"wires":[["9ddea00d.3f5b7"]]},{"id":"9ddea00d.3f5b7","type":"function","z":"f3b4e877.63aaf8","name":"led_toggle","func":"if(msg.payload.pir > 0)\n{\n    //node.log(msg.payload.pir);\n    msg.payload = 1;\n}\nif(msg.payload.pir < 1)\n{\n    //node.log(msg.payload.pir);\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":777,"wires":[["f0e63941.c33988","d811416a.7bcbc"]]},{"id":"f0e63941.c33988","type":"mqtt out","z":"f3b4e877.63aaf8","name":"door_led_on","topic":"door/lamp","qos":"","retain":"","broker":"fb8f01c0.c10c9","x":610,"y":777,"wires":[]},{"id":"d811416a.7bcbc","type":"debug","z":"f3b4e877.63aaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":840,"wires":[]},{"id":"c5686e74.30112","type":"mqtt in","z":"f3b4e877.63aaf8","name":"room_lcd","topic":"room3/lcd","qos":"1","datatype":"auto","broker":"b10a72b0.fc2a6","x":80,"y":900,"wires":[["ed80d51e.90b108"]]},{"id":"ed80d51e.90b108","type":"json","z":"f3b4e877.63aaf8","name":"","property":"payload","action":"","pretty":false,"x":250,"y":900,"wires":[["a0881911.20e448"]]},{"id":"a0881911.20e448","type":"function","z":"f3b4e877.63aaf8","name":"lcd_toggle","func":"if(msg.payload.pir > 0)\n{\n    //node.log(msg.payload.pir);\n    msg.payload = 1;\n}\nif(msg.payload.pir < 1)\n{\n    //node.log(msg.payload.pir);\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":900,"wires":[["b059effa.f1b0c","dc6c5b99.9ede08"]]},{"id":"b059effa.f1b0c","type":"mqtt out","z":"f3b4e877.63aaf8","name":"room_lcd_on","topic":"room3/lcd","qos":"","retain":"","broker":"fb8f01c0.c10c9","x":610,"y":900,"wires":[]},{"id":"dc6c5b99.9ede08","type":"debug","z":"f3b4e877.63aaf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":963,"wires":[]},{"id":"fb8f01c0.c10c9","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b10a72b0.fc2a6","type":"mqtt-broker","z":"","name":"aws_server","broker":"a218qyp3n66emw-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"43f035cc.ff92bc","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"43f035cc.ff92bc","type":"tls-config","z":"","name":"xyz","cert":"","key":"","ca":"","certname":"8bf7cda894-certificate.pem.crt","keyname":"8bf7cda894-private.pem.key","caname":"RootCACert.pem","servername":"","verifyservercert":false}]